[2015-11-12 17:18] jwildfire opened #1 "Update D3 compatability"
Right now, the AE table requires D3 v3.3.6 or earlier due to a change in d3.merge() after that release.

[2016-04-14 19:00] brittsikora opened #2 "Add Ability to Sort by Selected AEs"

[2016-04-14 19:00] brittsikora opened #3 "SAE Tabs on AE Page"
Basically what is needed here is a way to prominently see and sort on SAEs (not simply embedded within AEs)
o	Simple line listing would usually do
o	Specific instruction to include SAEs as well as AEs

Also good would be to have a way (on the graphics site) to see which were SAEs
•	line listing of SAEs (i.e., not necessarily differentiating AEs from SAEs within AE tables or graphs)
•	 some kind of

[2016-04-14 19:01] brittsikora opened #4 "Allow filters on participant characteristics"
Filter by subgroup, (sex, median age split, and active vs. placebo when unblinded)

[2016-04-14 19:02] brittsikora opened #5 "Add Filters for Details View"
Be able to filter (e.g. sex, severity, etc.) in details view

[2016-04-14 19:02] brittsikora opened #6 "Add Age to Details View"
From Jack's list. It would be helpful to the the patient's age when looking at AEs

[2016-04-14 19:03] brittsikora opened #7 "Add Median Age View to AE Table"

[2016-04-14 19:03] brittsikora opened #8 "Add Severity and Resolution Filters as Standard"

[2016-04-14 19:15] brittsikora opened #9 "Add Default Items for Details Listing"

[2016-04-18 18:43] brittsikora opened #10 "Add ToolTips"

[2016-06-17 19:07] brittsikora opened #11 "Show # of Enrolled/Randomized Participants"
Not sure the best way to handle this, but it would be good to have the number of relevant study participants shown somewhere on the chart. Maybe add a footnote for "X of X participants shown in this view"

[2016-06-23 13:30] brittsikora commented on #9
Jack would like to see age and sex

[2016-06-23 13:31] brittsikora opened #12 "Bug in Headers"
When showing Jack the new SE in Prod, we noticed that once we added sex and race to the groups, the header colors no longer matched the values below it.

[2016-06-24 12:41] jwildfire commented on #12
Resolved in v1.1.0. Will work in chart-foundry for next deploy.

[2016-06-24 12:41] #12 closed

[2016-06-24 12:43] jwildfire opened #13 "Update dependencies"
Remove all dependencies except for D3.

[2016-06-29 00:17] jwildfire commented on #13
Completed in 2.0

[2016-06-29 00:17] #13 closed

[2016-06-29 00:19] jwildfire commented on #9
@brittsikora could you please move this request to the rho chartfoundry board, and close this issue.

[2016-06-29 00:23] jwildfire commented on #11
Can implement this like the "overall" column shown here - http://graphics.rhoworld.com/tools/aeexplorer/example4/

[2016-06-29 00:24] jwildfire commented on #8
@brittsikora could you please move this request to the rho chartfoundry board, and close this issue.

[2016-06-29 00:24] jwildfire commented on #7
@brittsikora could you please move this request to the rho chartfoundry board, and close this issue.

[2016-06-29 00:25] jwildfire commented on #6
@brittsikora could you please move this request to the rho chartfoundry board, and close this issue.

[2016-06-29 00:28] jwildfire commented on #5
We could add https://datatables.net/, but it might be better to add a filter on the main page instead, and leave the details table as a simple listing. Of course, adding a filter on the primary view that requires different logic for "participant-level" filters (as opposed to the current "event-level" filters), which is complex.

[2016-06-29 00:31] jwildfire commented on #4
Adding participant-level filters on the primary page is possible (see http://graphics.rhoworld.com/tools/aeexplorer/example4/), but complicated. The most robust way to handle it is to have two separate data inputs for the chart. One event-level data set for AEs and one participant-level data set for demographics. Would break backwards compatibility, but will consider for version 3.

Other options

[2016-06-29 00:33] jwildfire commented on #3
We can certainly add an "SAE" filter to the existing chart. Not sure if that is sufficient, of it the request above is for a new chart type. @brittsikora What do you think? Should we follow up with, Jack?

[2016-06-29 00:34] jwildfire commented on #2
Not sure what this one is going for. @brittsikora Any more details available?

[2016-06-29 00:34] jwildfire commented on #1
Done in v2.0

[2016-06-29 00:34] #1 closed

[2016-06-29 00:34] jwildfire commented on #10
Should be easy enough. We can do this in 2.1.0.

[2016-06-29 00:36] jwildfire commented on #11
Might be a bit complicated, but will try it in v2.1.0

[2016-06-29 14:31] brittsikora commented on #9
Moved over to Chartfoundry-Rho repo

[2016-06-29 14:31] #9 closed

[2016-06-29 14:33] brittsikora commented on #8
Moved to Chartfoundry-Rho repo

[2016-06-29 14:33] #8 closed

[2016-06-29 14:34] brittsikora commented on #6
Moved to Chartfoundry-Rho repo

[2016-06-29 14:34] #6 closed

[2016-06-29 14:35] brittsikora commented on #7
Moved to Chartfoundry-Rho repo

[2016-06-29 14:35] #7 closed

[2016-06-30 15:12] brittsikora commented on #2
I followed up with Jack:

"I think it might have been referring to the AE timelines, because we had a sponsor who just wanted to see timelines for the different insomnias (early, middle, late, etc.).  At present, you can sort by body system, but not by individual AE.  But really, I think that’s too much trouble; so we can ignore this for now."

[2016-06-30 15:17] brittsikora commented on #3
Followed up with Jack:

"Note that the current dropdowns on the AE Table between “Filter by Prevalence” and “Category” contain “AE Serious” to select whether or not you want the SAEs to show.  But what is also needed is a way to have ONLY the SAEs show (i.e., SAEs and not the non-SAE AEs).  But since %ages won’t be very helpful for those (since they’re generally few and scattered across organ syst

[2016-06-30 23:46] jwildfire commented on #2
OK - flagging this as low priority and clarifying the title. We may close later if it doesn't come up again.

[2016-06-30 23:48] jwildfire commented on #2
Actually, just going to close, since this is actually in the wrong repo. We can create a new issue in https://github.com/RhoInc/ae-timelines if it comes up again.

[2016-06-30 23:48] #2 closed

[2016-06-30 23:57] jwildfire opened #16 "Allow generation of Details table from summary row"
See #3 for related request.

[2016-07-01 00:05] jwildfire commented on #3
@brittsikora So, there are a few different things here.

We could implement this by making the total row at the bottom of the chart clickable. Created a new issue #16 for this.

Probably best to leave the colors as they are, but we could encode "serious" in the chart in a different way. Maybe plot those with an X (or an S) instead of a circle. Created a new [issue](https://github.com/RhoInc/ae-tim

[2016-07-01 15:04] brittsikora commented on #3
I would say that that's fine for now and we should add an issue for the SAE filter in the CF-Rho board. If that's fine with you, I'll make that issue and close this one

[2016-07-01 15:04] jwildfire commented on #3
@brittsikora perfect. go for it.

[2016-07-01 15:07] #3 closed

[2016-07-01 16:34] jwildfire opened #17 "Refactor using modular code with ES6"
And then implement a build process using node/npm/rollup/babel similar to the one described in [webcharts-wrappers-boilerplate](https://github.com/RhoInc/webcharts-wrapper-boilerplate)

[2016-07-01 16:35] jwildfire opened #18 "Incorporate chart-foundry build in to this library"
Merge the current [chartfoundry build process](https://github.com/RhoInc/chf-renderer-aeexplorer/) in to this repo

[2016-07-01 18:15] brittsikora opened #19 ""All" should not be clickable"
"All" at the bottom of the chart is rendering a page when it shouldn't be - this is breaking the system

[2016-07-01 18:31] brittsikora opened #20 "Trouble Customizing Filters"
![aefeature](https://cloud.githubusercontent.com/assets/14914918/16530917/3ac485fc-3f98-11e6-91c0-d0bf79774dc5.PNG)

While customizing filters, I added a filter for sex and it flipped the colors and didn't give the new filter a header.

You also asked me to put "the code under the tech specs button" in here as well.

[2016-07-01 19:02] brittsikora commented on #20
Here is the actual code:

//uses d3 v.3.5.17
//uses table.js from AE Explorer

var variables = {
  "id": "USUBJID",
  "major": "AEBODSYS",
  "minor": "AEDECOD",
  "filters": [
    "AEBODSYS",
    "AESEV",
    "TRT"
  ],
  "group": "SEX",
  "details": [
    "USUBJID",
    "SEX",
    "RACE",
    "TRT",
    "AEDECOD",
    "AESEV",
    "AESER",
    "AEOUT"
  ]
};

var settings = {
  "groups": [
    {

[2016-07-01 19:13] jwildfire opened #21 "Combine Settings and Variables object"
Biggest remaining hurdle is the settings.groups object, but that can be generated automatically. The chartfoundry renderer already does something [similar](https://github.com/RhoInc/chf-renderer-aeexplorer/blob/master/src/Renderer.js#L58-L59).

[2016-07-01 19:33] #19 closed

[2016-07-01 19:33] jwildfire commented on #20
fixed in v2.0.1

[2016-07-01 19:33] #20 closed

[2016-07-27 20:16] samussiah commented on #21
Removed variables argument to table.init() with the assumption that the settings argument contains a 'variables' property.

[2016-07-27 21:20] samussiah commented on #16
Added Jeremy's updates to branch refactor.

[2016-07-27 21:25] samussiah commented on #10
Tooltips which display what exactly?

[2016-07-28 16:01] jwildfire commented on #21
Sounds good. Not seeing [the branch](https://github.com/RhoInc/aeexplorer/branches). Did you push it to github?

[2016-07-28 16:05] jwildfire commented on #10
Lets start with something like the tooltips shown [here](http://graphics.rhoworld.com/tools/aeexplorer/example4/)

[2016-07-28 16:24] samussiah commented on #21
Not yet.  I'm going to attempt to modularize the code before I push the branch.  Should have something up by the end of the day.

[2016-07-28 16:33] jwildfire commented on #17
@samussiah Let's try to follow @nbryant's lead on modularization and use rollup + babel. Checkout the [package.json](https://github.com/RhoInc/ae-timelines/blob/master/package.json) and [scripts folder](https://github.com/RhoInc/ae-timelines/tree/master/scripts) for the safety explorer renderers as an example. The [boilerplate wiki](https://github.com/RhoInc/webcharts-wrapper-boilerplate/wiki) mig

[2016-07-28 16:33] jwildfire commented on #21
Sounds good. See my comment on #17 re: modularization.

[2016-07-30 18:15] samussiah commented on #11
Total column added contingent on settings.defaults.totalCol is set to 'Show'.

[2016-07-30 19:33] samussiah commented on #10
Tooltips added to minor row expand/collapse controls, major/minor category text, rate text, rate marks, and rate difference marks.

[2016-07-30 20:35] samussiah commented on #11
http://bl.ocks.org/samussiah/raw/f326c788286234ce0644c4e556d07163/

[2016-07-30 20:35] samussiah commented on #10
http://bl.ocks.org/samussiah/raw/f326c788286234ce0644c4e556d07163/

[2016-07-30 23:09] jwildfire commented on #10
Looks great!

Is it easy to show the group level rates when mousing over a difference diamond? For example,  "Placebo (10%) vs. Active (5%): 5%"? If so, lets update that annotation, and remove the svg text that shows up with the circles when mousing over a diamond.

[2016-07-30 23:12] jwildfire commented on #10
Also, is this all rolled in to the same branch as the refactor/modularization? If so, let's go ahead and move these issues to the v3.0.0 milestone. If not, we can ask Britt to test the changes and release it as  v2.1.0 in the next week or so

[2016-07-31 19:15] samussiah commented on #10
Yup, all on refactor.  I've **_almost_** got it modularized.  After running 'npm run build' I'm having to make two edits to the built file to get an instance up and running.  I'll finalize tomorrow morning with all updates.

[2016-08-01 19:18] samussiah commented on #17
It's done.  It's modularized.  All recursive references and undeclared variables have been corrected.  <exhales tiredly>

[2016-08-01 20:48] samussiah commented on #10
http://bl.ocks.org/samussiah/raw/90e524b9ef2fdf8214d491aaca4cd3b3/

[2016-08-01 20:48] samussiah commented on #21
http://bl.ocks.org/samussiah/raw/90e524b9ef2fdf8214d491aaca4cd3b3/

[2016-08-01 20:48] samussiah commented on #17
http://bl.ocks.org/samussiah/raw/90e524b9ef2fdf8214d491aaca4cd3b3/

[2016-08-08 16:49] samussiah opened #26 "Diff column displaying even when defaults.diffCol is set to 'Hide'."

[2016-08-08 16:50] samussiah opened #27 "Group columns not sorting alphabetically."

[2016-08-23 14:29] samussiah opened #28 "Add event frequencies and add group column mouseover event."

[2016-08-23 15:22] jwildfire commented on #28
See [here](http://graphics.rhoworld.com/tools/aeexplorer/example4/) for possible implementation that uses a control instead of mouseover.

[2016-09-21 21:23] brittsikora commented on #10
QCd this and it looks good - closing and checking off for the pull request

[2016-09-21 21:23] #10 closed

[2016-09-21 21:35] brittsikora commented on #11
Total is showing an n that makes sense, so I'd say this is a pass. Closing and passing in pull request.

[2016-09-21 21:35] #11 closed

[2016-09-21 21:36] brittsikora commented on #16
Details table appears when an item in the summary row is selected, so pass. Will close and pass in pull request.

[2016-09-21 21:36] #16 closed

[2016-09-21 21:37] brittsikora commented on #17
@jwildfire - how do I test this?

[2016-09-21 21:38] brittsikora commented on #26
@jwildfire - How do I test this as well?

[2016-09-21 21:39] brittsikora commented on #27
Columns look logical to me, but I'm not sure what it looked like before. @jwildfire - is the column order presenting as expected?

[2016-09-21 21:40] brittsikora commented on #28
Mouseover working as expected for me (ex. 47/84). I will close this and pass it in the pull request.

[2016-09-21 21:40] #28 closed

[2016-09-21 21:42] brittsikora commented on #21
@jwildfire - How I test dis?

[2016-09-22 13:22] jwildfire commented on #17
@brittsikora I (or another dev) can do a code review on the pull request to test.

[2016-09-22 13:25] jwildfire commented on #21
:+1:

I just confirmed by looking at the example above.

[2016-09-22 13:27] jwildfire commented on #26
@brittsikora Update the gist (or create a new one) to confirm that changing the setting updates the chart appropriately. http://bl.ocks.org/samussiah/90e524b9ef2fdf8214d491aaca4cd3b3

@samussiah can walk you through that process once he gets back from :four_leaf_clover: land

[2016-09-22 13:30] jwildfire commented on #27
Yeah, would've been good to have a bit more detail in this issue. IIRC, this had to do with the column headers getting out of sync with the values. @samussiah do we have a data set/chart where this was failing? Or can you point me to the updated lines or code that resolve the problem?

[2016-09-22 13:32] jwildfire commented on #27
Actually, I think this was resolved in #12, so this may actually be a duplicate issue. @samussiah can you confirm?

[2016-09-28 15:58] brittsikora commented on #21
Awesome - closing now to stay consistent

[2016-09-28 15:58] #21 closed

[2016-09-28 15:59] brittsikora commented on #17
Should I assign this to you or perhaps Shane?

[2016-10-05 15:27] samussiah commented on #27
I should have said 'alpha-numerically' instead of 'logically'.  When the group values are not specified in the user-defined settings they'll be sorted.  See line 45-47 in [init.js](https://github.com/RhoInc/aeexplorer/blob/refactor/src/init.js).

[2016-10-19 15:08] samussiah opened #30 "Add argument to ToggleRows() to pass settings object."

[2016-10-19 15:10] samussiah opened #31 "Default settings should be synced with custom settings."

[2016-12-06 16:46] jwildfire opened #32 "Group variable with many categories locks browser"
Issue: Selecting a group variable with many unique categories is likely to cause the browser to become unresponsive.

Solution: Add a check that halts execution if the user has selected a group variable with N>maxGroups categories. Could consider letting maxGroups be a parameter in the system with default=10 or so?

[2017-01-06 00:25] jwildfire opened #33 "Create stand-alone checkSettings() function"
Pull [this](https://github.com/RhoInc/aeexplorer/blob/refactor/src/init.js#L16-L37) out of .init()

[2017-01-06 00:26] jwildfire commented on #33
[this](https://github.com/RhoInc/aeexplorer/blob/refactor/src/init.js#L39-L55) too actually.

[2017-01-06 13:49] jwildfire opened #34 "rename AETable.redraw()"
`AETable.draw()` probably makes more sense ...

[2017-01-07 01:04] jwildfire opened #35 "update Config merge process"
Current implementation of `mergedConfig` in `createChart.js` in v3.0.0 is arguably better than nothing, but it's very naive and likely to cause bugs if the user specifies incomplete settings. For example, specifying `settings.plotSettings.w` but not `settings.plotSettings.h` is likely to throw an error.

[2017-01-07 15:45] jwildfire opened #36 "QC/document the raw data download functionality"
Let the user download the table data when `chart.config.validation == true`. An early version of the functionality is already present in `aetable.init()` and `\util`, but isn't documented or exposed to the user.

[2017-01-07 15:47] jwildfire commented on #36
Note that the csv implementation is potentially buggy as written.

[2017-01-07 17:40] jwildfire opened #37 "Add ability to filter on both participants and events"
Currently, the tool only supports filters on adverse event characteristics (e.g. severity). We need to bite the bullet and implement the ability for users to filter on characteristics that are related to participants (e.g. gender) as well.

[2017-01-07 17:41] jwildfire commented on #37
Still not sure the best approach here, but it should be significantly easier after the refactor ... Will document approach in future comments.

[2017-01-07 17:42] jwildfire commented on #17
Lots more work done here. Should be close to done. See #29 for details.

[2017-01-07 17:44] jwildfire commented on #31
I did a *very* basic implementation [here](https://github.com/RhoInc/aeexplorer/blob/refactor/src/createChart.js#L12). Created #35 for future improvements

[2017-01-07 18:07] jwildfire commented on #37
duplicate of #4. closing.

[2017-01-07 18:07] #37 closed

[2017-01-07 18:10] jwildfire commented on #30
Should be good to go now. See commit above.

[2017-01-08 16:13] jwildfire commented on #4
I'm leaning towards adding a `type` parameter to filter specifications instead of requiring multiple files. Options for type are:
- 'event' for filters related to the AEs themselves, like event Severity (this is the currently supported functionality)
- 'participant' for filters related to the participants, like participant Gender (not currently supported)

The new specification would look like thi

[2017-01-08 16:31] jwildfire opened #38 "Move definition of "No AE" flag to config"
The tool requires placeholder rows for participants with no AEs. Those participants are identified by a custom keyword in the user-specified `major` and `minor` column. Currently the keywords are hard-coded in `/src/chart/util/prepareData.js`. We should move them to `defaultSettings.js` instead and let the user overwrite the default as desired.

[2017-01-08 16:32] jwildfire commented on #38
Current values are:     `var noAEs = ['', 'na', 'n/a', 'no ae', 'no aes', 'none', 'unknown', 'none/unknown'];`

[2017-01-08 17:55] jwildfire commented on #31
even the basic implementation isn't working for filters ☹️ . need to resolve for 3.0.0. re-opening.

[2017-01-08 17:57] jwildfire commented on #4
Seems like approach above will work well. Initial commit branch [`v3-filters`](https://github.com/RhoInc/aeexplorer/tree/v3-filters)

[2017-01-10 16:01] jwildfire opened #39 "Regression Testing for AE Explorer v3.0.0"
Confirm basic functionality and new features are working as expected in examples shown below:

Examples using v3.0.0 Release Candidate
[Default](http://interactive.it.rhoworld.com/dev/projects/232/ae-table/)

**Basic Functionality (Tested every release)**
- [x] Check all spelling and grammar on the page
- [x] View confidence intervals and tooltips for between-group differences by hovering the mous

[2017-01-10 16:13] jwildfire commented on #30
@samussiah Can you take a quick look at the commit above and see if you think it resolves this issue.

[2017-01-10 16:16] jwildfire commented on #18
Not sure this is needed for v3.0.0 actually. Going to remove the milestone for now, and we can re-visit down the road.

[2017-01-10 16:20] jwildfire commented on #5
Patient level filters are implemented on the main page. We need to decide on the proper behavior for the details table in 3.0.0.

For now, we should probably just have the details table render with the same filtered data being used in the main table, and add some text to the label indicating which filters are active ("XXX records shown for System Organ Class=X and Gender=Y").

We could consider le

[2017-01-10 18:14] samussiah commented on #30
Looks good @jwildfire

[2017-01-10 23:46] #30 closed

[2017-01-10 23:46] jwildfire commented on #30
Updated in #29

[2017-01-11 15:41] jwildfire commented on #4
@samussiah can you QC/Code review this little bit of the refactor please? See #4 for details. Example [here](http://bl.ocks.org/jwildfire/c5355b066da3c81de480f73876860eb9)

[2017-01-11 15:47] jwildfire commented on #17
Implemented in #29, so going to go ahead and close. Thanks again for all the good work, @samussiah!

[2017-01-11 15:47] #17 closed

[2017-01-11 16:12] jwildfire commented on #27
@samussiah covered this in #29 [here](https://github.com/RhoInc/aeexplorer/blob/refactor/src/chart/init.js#L50-L52)

[2017-01-11 16:12] #27 closed

[2017-01-11 16:48] jwildfire commented on #26
Working as expected in #29.

[2017-01-11 16:48] #26 closed

[2017-01-11 17:40] jwildfire commented on #35
Leaning towards implementation like [this](https://github.com/RhoInc/Webcharts/blob/master/src/chart/setDefaults.js)

[2017-01-12 23:25] jwildfire commented on #33
Implemented in #41.

[2017-01-12 23:26] jwildfire commented on #35
Implemented in #41.

[2017-01-12 23:38] jwildfire commented on #31
Fixed in #41

[2017-01-14 15:52] jwildfire opened #43 "Event Counts in Column Headers aren't updating with change in participant filters"

[2017-01-14 15:54] jwildfire commented on #4
merged in to `refactor` will be released in v3

[2017-01-14 15:54] #4 closed

[2017-01-14 16:56] jwildfire commented on #5
Initial commit in branch `detail filters` works well for participant filters, but not event filters. Need to figure out the best way update.

<img width="935" alt="screen shot 2017-01-14 at 8 55 41 am" src="https://cloud.githubusercontent.com/assets/3680095/21956499/4bb0e894-da37-11e6-94d6-1f14ba3a9d3e.png">

[2017-01-18 00:26] #33 closed

[2017-01-18 00:26] #32 closed

[2017-01-18 00:26] #31 closed

[2017-01-18 02:10] #35 closed

[2017-01-18 02:11] jwildfire commented on #43
There was also an issue with groups that had 0 participants. Everything should be cleaned up in #45

[2017-01-18 16:04] bzkrouse opened #46 "Convert empty defaults from empty array to 'null'"
Defaults in AE explorer are specified as [], while defaults in some other safety widgets are 'null'.  Convert all defaults to 'null' to make consistent and to make more sense logically.

[2017-01-20 18:35] brittsikora commented on #31
@jwildfire How should I test this?

[2017-01-24 00:50] #43 closed

[2017-01-24 00:51] #38 closed

[2017-01-24 00:51] #5 closed

[2017-01-24 15:52] brittsikora commented on #39
Regression Testing notes:
- Capitalize the "participant" and "event" toggle options for consistency
- Capitalize "group" in "AE Rate by group"
- There is a blank category in this example - not sure if it's a data issue, but see the image below
![ae_blank_category](https://cloud.githubusercontent.com/assets/14914918/22253899/2bcd5d7c-e221-11e6-9d45-4abf5b2c40d1.JPG)
- Add space around the "Serious"

[2017-01-24 22:52] brittsikora opened #47 "Filter Selection Options Too Narrow"
![why_so_small](https://cloud.githubusercontent.com/assets/14914918/22270488/d6f8f97c-e25d-11e6-8b63-7e1be725e68a.JPG)

Change for "Serious" and "Open Query"

[2017-01-24 22:55] brittsikora opened #48 "Put Relationship Filter Options in Order"
![confusing_relationship](https://cloud.githubusercontent.com/assets/14914918/22270558/25e007ba-e25e-11e6-942f-c4dd1da9cb60.JPG)

Current options are not in intuitive order, consider ordering by:
- User preference
- or default to: Not related, Unlikely related, Possibly related, Related

[2017-01-24 22:57] brittsikora opened #49 "Automatically enter search criteria"
For the search bar and incidence threshold, the user must currently click away from the entered value or hit the enter button for the function to filter on the entered value. We should try to automate this so the user doesn't think the function is broken.

[2017-01-26 18:06] brittsikora opened #50 "Fix the "too many groups error text""
The text that shows up with the max groups error seems to be hardcoded and is currently incorrect: minor fix

[2017-01-26 18:07] brittsikora commented on #39
Functional testing notes:
Tested #32 and discovered #50

[2017-02-15 00:30] jwildfire commented on #46
Good catch, @bzkrouse. We'll cover this in the next release.

[2017-02-15 00:32] jwildfire commented on #48
Could allow a user to specify the order in an option, but definitely not trivial. Pretty sure the order right now is dictated by the order they appear in the data, so a workaround is to require the user to sort the raw data.

Leaving without a milestone for now.

[2017-02-15 00:34] jwildfire commented on #39
Good comments all around, @brittsikora. Most are fairly minor issues, so I've assigned them to v3.1.0

[2017-02-15 00:38] #18 closed

[2017-02-17 17:11] brittsikora commented on #39
passed testing - closing

[2017-02-17 17:11] #39 closed

[2017-02-20 16:34] jwildfire opened #52 "Allow tables with no group variable"
Not included in 3.0. Supported pre-3.0 with `group:"All"`, but probably better to do it as an option now that we have the `totalCol` setting.

[2017-03-06 23:22] jwildfire opened #53 "Don't render filters for variables with 0 or 1 levels"
Throw a console.warn() instead.

[2017-03-07 01:27] jwildfire opened #54 "Enforce minimum width in filter `select` elements"

[2017-03-13 23:18] #53 closed

[2017-03-13 23:18] #54 closed

[2017-03-20 19:32] jwildfire opened #56 "Filters not behaving when raw data is stored as numeric"
Not a problem with creating json via d3.csv() since everything is coerced to character, but can cause problems in other scenarios.

Fix is easy, just coerce the value to character [here](https://github.com/RhoInc/aeexplorer/blob/master/src/chart/util/prepareData.js#L42) and [here](https://github.com/RhoInc/aeexplorer/blob/master/src/chart/util/prepareData.js#L58). This: `return filter_d.currentVal

[2017-03-20 19:34] #47 closed

[2017-03-21 15:33] jwildfire commented on #50
@brittsikora This appears to be acting reasonably. Going to close unless you can add more detail about the bug.

<img width="1428" alt="screen shot 2017-03-21 at 8 32 28 am" src="https://cloud.githubusercontent.com/assets/3680095/24155426/078a5516-0e11-11e7-87ba-1bff058212eb.png">

[2017-03-21 15:35] jwildfire commented on #50
Ooooooh - I see it now current and max values are transposed. Will fix. 😳

[2017-03-21 15:42] jwildfire commented on #50
Actually there was just a stray '6' in the error message. Fixing!

[2017-03-21 21:34] #50 closed

[2017-03-21 21:34] #56 closed

[2017-03-29 19:48] jwildfire opened #58 "Reformat the `config.groups` setting"
Specifying a list of group levels to be displayed (`["Placebo","Treatment A"]`) throws an error as shown.
<img width="924" alt="screen shot 2017-03-29 at 12 46 17 pm" src="https://cloud.githubusercontent.com/assets/3680095/24473388/ec97f4e8-147d-11e7-8a65-f31edb85af55.png">

Hopefully this is just buggy error checking and the functionality actually works ok.

[2017-03-29 20:15] jwildfire opened #59 "`filter:null` gives unexpected results"
**Current behaviour**: If a user specifies `filters:null` the default filters are rendered.
**Expected behaviour**: If a user specifies `filters:null` no filters are rendered.

Side notes:
- `null` is probably a more resonable default for filters
- `filter:[]` doesn't render any filters (this is fine)

cc: @bzkrouse

[2017-03-29 21:03] jwildfire commented on #58
This actually works, but wiki documentation was wrong. `settings.groups` should be an array of objects (e.g. `[{key:"Placebo"},{"key":"Treatment A"}]` not an array of character (`["Placebo","All"]`). The [wiki has been updated](https://github.com/RhoInc/aeexplorer/wiki/Configuration#settingsgroups).

This behaviour is pretty silly though, so tweaking this issue to update to support the more logica

[2017-04-18 17:12] bzkrouse opened #60 "Update naming conventions for settings object"
Update chart arguments to be consistent with naming conventions of other safety charts.  Keep support of previous argument names until next major release.  This includes the following changes:

id -> id_col
major -> major_col
minor -> minor_col
group -> group_col
placeholderFlag -> missingValues
totalCol -> showTotalCol
diffCol -> showDiffCol
prefTerms -> showPrefTerms

[2017-04-25 13:43] samussiah opened #61 "Accept array of value_col/label objects as well as array of strings from variables.details."

[2017-04-25 16:10] samussiah opened #62 "`settings.plot_settings.margin` should affect rate chart..."
...like `settings.plot_settings.diffMargin` affects difference chart.

[2017-05-10 18:54] jwildfire opened #63 "sas: Add setting for default display type (Participant vs. Event)"

[2017-05-22 14:33] samussiah opened #64 "Preferred term rows not sorting by descending frequency."
noticed by @srosanba

[2017-05-31 15:31] samussiah opened #65 "Update download attribute of .csv link to a named value."
Per @srosanba , the file is simply named 'true' without an extension.  Perhaps name it '[dataset name]-[group variable name] Summary' to give it a useful context.

[2017-06-05 15:36] jwildfire commented on #65
My recollection is that this is a very browser-specific issue. Will look in to it a bit more ...

[2017-06-05 16:14] jwildfire commented on #63
Will simplify validation testing - let's use `defaults.summarizeBy` with valid options:
- "participant" (default)
- "event"

[2017-06-05 16:36] jwildfire opened #66 "Allow default filter values to be applied on initial load"
Just add a `default` array to the `settings.variables.filters[]` objects, like this?

[code]

[2017-06-20 13:40] srosanba opened #67 "sas: CSV for validation not doubling up double quotes"
When a minorCategory value has double quotes within it, the CSV should double those double quotes.
For instance:
"Decrease in heart's ability to pump blood during the "active" phas of the heartbeat (systole)"
Should actually appear as:
"Decrease in heart's ability to pump blood during the ""active"" phas of the heartbeat (systole)"

[2017-06-20 14:41] srosanba opened #68 "sas: CSV is the same for both participant and event summaries"
The same CSV file results from test1.json and test2.json. Both CSV files seem to correspond to the participant setting (i.e., test1.json).

[2017-06-20 17:37] srosanba opened #69 "sas: Applying filters does not impact CSV download file"
For test9.json we are supposed to subset on serious events for males. This subsetting reduces the denominators to 30, 29, 26 in the browser. However, the CSV download still shows 50, 50, 50.

[2017-06-22 21:38] jwildfire opened #70 "Refactor in-browser csv generation"
See [here](https://stackoverflow.com/questions/14964035/how-to-export-javascript-array-info-to-csv-on-client-side) (and maybe also [here](https://stackoverflow.com/questions/18848860/javascript-array-to-csv/18849208)) for an improved implementation of our csv export process.

[2017-06-28 14:13] samussiah commented on #65
File download just doesn't work in IE, but you can name the file in both Chrome and FireFox.

[2017-06-28 14:13] samussiah commented on #69
Just redefining download link every time the chart re-initializes.

[2017-06-28 14:14] samussiah commented on #68
Just redefining download link every time the chart re-initializes.

[2017-06-28 14:14] samussiah commented on #67
converting everything to character, replacing single double quotes with double double quotes, then quoting the whole field

[2017-06-28 16:58] samussiah commented on #36
https://github.com/RhoInc/aeexplorer/wiki/Configuration#settingsvalidation

[2017-06-28 16:59] samussiah commented on #70
Refactored and compatible with IE in #72 .

[2017-06-28 16:59] samussiah commented on #65
Download works and is named in all three browsers as described [here](https://github.com/RhoInc/aeexplorer/wiki/Configuration#settingsvalidation)

[2017-06-28 20:54] samussiah commented on #63
pretty straightforward, just added the new config setting

[2017-06-29 15:54] jwildfire opened #75 "Filtering on the group variable causes some unexpected behavior"
Difference column is drawn with no content.

[code]

![screen shot 2017-06-29 at 8 51 29 am](https://user-images.githubusercontent.com/3680095/27697139-4af58e5c-5ca8-11e7-9507-3e3898b63d08.png)

[2017-07-06 19:05] brittsikora commented on #63
Expected Outcome: Use the following settings to summarize by participant or event on default
Event: {"validation": true
,"defaults":
{"summarizeBy": "event"}
}
Participant: {"validation": true
,"defaults":
{"summarizeBy": "participant"}
}

Result:

[2017-07-06 19:05] brittsikora commented on #65
Expected Outcome: Downloading a file will save it as major term-minor term-participant or event

Result:

[2017-07-06 19:06] brittsikora commented on #66
Expected Outcome: Enter the following settings to default the filters on initial load

{"validation": true
,"variables":
{"filters":
[
{"value_col": "AESER"
,"label": "Srs?"
,"type": "event"
,"start": ["Y"]}
]
}
}

Result:

[2017-07-06 19:06] brittsikora commented on #69
Expected Outcome: Enter {"validation": true} + filter and csv should show filtered data

Result:

[2017-07-06 19:06] brittsikora commented on #70
Expected Outcome: Entering {"validation": true} will show the download CSV option. CSV can be saved and viewed.

Result:

[2017-07-06 19:52] brittsikora commented on #67
@jroden to test

[2017-07-06 21:14] brittsikora commented on #36
Expected Outcome: Read through the documentation on the raw download functionality and confirm it looks okay

Result: Pass

[2017-07-06 21:14] #36 closed

[2017-07-06 21:16] #63 closed

[2017-07-06 21:19] #70 closed

[2017-07-06 21:29] #65 closed

[2017-07-06 21:37] #66 closed

[2017-07-06 21:41] brittsikora commented on #68
Expected Result: Summarizing by participant will yield a download citing "participant" in the title and summarizing by event will yield a download citing "event" in the title

Result: Pass

![68](https://user-images.githubusercontent.com/14914918/27934109-438e70fa-6272-11e7-973c-a5ca615ee7cd.JPG)

![68b](https://user-images.githubusercontent.com/14914918/27934110-44a71d66-6272-11e7-9baf-822c56b630

[2017-07-06 21:41] #68 closed

[2017-07-06 21:53] brittsikora commented on #69
In my comment above, I thought that the intended use was to download the data from a minor category after expanding the larger bodysys. That functionality does not work, but filtering and downloading the filtered data does work, so this is a pass.

![69](https://user-images.githubusercontent.com/14914918/27934491-fd21b59e-6273-11e7-85ef-db4414f70a66.JPG)

[2017-07-06 21:53] #69 closed

[2017-07-13 17:04] brittsikora opened #76 "Make Treatment Group Columns Optional"
Request from Kristen on 7/12:

"a.	Remove A/B columns from ‘AE Table’. Also remove TRT column from the listings produced when you click on the category column"

Need this by the 26th

[2017-07-13 17:06] brittsikora opened #77 "Add Sort/Filter Option on Listing"
Request from Kristen on 7/12:

"3.	Add sort/filter options to the listing produced from the ‘AE Table’ when you click on the category column."

[2017-07-17 17:46] brittsikora opened #78 "Entering a value doesn't work in IE"
Entering a prevalence threshold or search term doesn't work when you hit enter

[2017-07-17 17:47] brittsikora opened #79 "Tooltips don't work in IE"
Hovering over any value isn't turning up anything in IE

[2017-07-17 17:48] jwildfire commented on #78
Is there a workaround for this? Or there is currently no way to use these inputs in IE?

[2017-07-17 17:50] jwildfire commented on #79
Will not address in v3.1. Likely to move to "won't fix" in the future.

[2017-07-17 17:53] brittsikora commented on #78
You can enter a value and try to click on a category or something that works and it updates

[2017-07-17 17:55] jwildfire commented on #78
OK - calling it low priority then. Debating whether to fix it in 3.1 or not. @samussiah do you think there is an obvious/quick fix for this?

[2017-07-17 18:08] samussiah commented on #78
Disabling "enable protected mode" in IE fixes this issue: https://answers.microsoft.com/en-us/ie/forum/ie11-iewindows8_1/unable-to-type-in-internet-explore-11/7b6c26de-8b51-43c2-90d8-788e8791ffa3

[2017-07-17 18:48] brittsikora commented on #79
This works after messing with the security settings that Spencer mentioned in #78

[2017-07-17 18:48] #79 closed

[2017-07-17 18:49] brittsikora commented on #78
Still isn't working for me after that fix, but the tooltips do work now?

[2017-07-17 20:29] brittsikora commented on #78
Fix doesn't work, but users can still search if they enter a value and remove focus from the search box by clicking outside of it or by pressing tab

[2017-07-17 23:08] jwildfire opened #80 "Add JSON schema for settings object"

[2017-07-17 23:08] #67 closed

[2017-07-17 23:09] #78 closed

[2017-07-17 23:10] jwildfire commented on #52
Closing as duplicate of #76. Will be added in 3.2.

[2017-07-17 23:10] #52 closed

[2017-07-18 15:47] jwildfire opened #82 "Automatically hide the difference column if less than 2 groups are renderered"

[2017-07-18 15:50] jwildfire opened #83 "Hide the total column if only one group is renderered"
Rendering the total column is a bit confusing, since it is identical to (and thus overwrites) the group point in this case.

[2017-07-18 15:59] jwildfire commented on #82
The code at aeTable.init:144 is including the total columm in the nGroups count. Fixing that should fix this.

[code]

[2017-07-18 16:34] jwildfire commented on #82
Fixed the code above, and set `settings.defaults.diffCol` to false when `setting.defaults.groupCols` is false

[2017-07-18 18:34] jwildfire opened #86 "Update readme.md and add an animated gif"

[2017-07-18 18:36] jwildfire commented on #80
Test Notes: Confirm that the automatic form for the renderer appears in CAT. No code changes, so no formal testing with AE explorer needed.

[2017-07-18 18:37] jwildfire commented on #83
Test Notes: Confirm that total column is automatically hidden with settings: `{"groups":["Placebo"]}`, but not with `{"groups":["Placebo","Treatment A"]}`

[2017-07-18 18:39] jwildfire commented on #82
Test Notes: Confirm that difference diamonds column is hidden with settings: `{"groups":["Placebo"]}` and `{"defaults":{"groupCols":false}}`, but not with `{"groups":["Placebo","Treatment A"]}`

[2017-07-18 18:42] jwildfire commented on #58
Test Notes: confirm that all of the following setting render the specified groups:
- `{"groups":["Placebo"]}`
- `{"groups":[{"key":"Placebo"}]}`
- `{"groups":[{"key":"Placebo"},"Treatment A"]}`
- `{"groups":[{"key":"NotAGroup"},"Treatment A"]} //only renders treatment a column`
- `{"groups":["NotAGroup"]} //renders all groups (since no valid groups are specified`

[2017-07-18 18:45] jwildfire commented on #76
Test Notes: confirm that the following settings work as expected:
- `{"defaults":{"totalCol":true,"groupCols":true}}`
- `{"defaults":{"totalCol":true,"groupCols":false}}`
- `{"defaults":{"totalCol":false,"groupCols":true}}`
- `{"defaults":{"totalCol":false,"groupCols":false}} //No chart rendered. should throw an informative error. `

[2017-07-18 18:46] jwildfire commented on #86
Test Notes: No code changes. No testing needed.

[2017-07-18 20:02] #86 closed

[2017-07-18 20:05] brittsikora commented on #83
Pass

![83a](https://user-images.githubusercontent.com/14914918/28337212-e3691fbc-6bd2-11e7-8168-94c6a5c1a740.JPG)

![83b](https://user-images.githubusercontent.com/14914918/28337216-e4e3aae2-6bd2-11e7-8756-22775fc7fbe1.JPG)

[2017-07-18 20:05] #83 closed

[2017-07-18 20:06] brittsikora commented on #80
Pass

![80](https://user-images.githubusercontent.com/14914918/28337265-17814f22-6bd3-11e7-93bc-378b557fb42d.JPG)

[2017-07-18 20:06] #80 closed

[2017-07-18 20:23] brittsikora commented on #82
Pass

![82a](https://user-images.githubusercontent.com/14914918/28337978-5d74cb7e-6bd5-11e7-9549-053a88e331e7.JPG)

![82b](https://user-images.githubusercontent.com/14914918/28337980-5f1848c0-6bd5-11e7-8c47-49278de6daa0.JPG)

![82c](https://user-images.githubusercontent.com/14914918/28337983-6087d91e-6bd5-11e7-96e0-176ad5f7fea8.JPG)

[2017-07-18 20:23] #82 closed

[2017-07-18 20:26] brittsikora commented on #76
Pass

{"defaults":{"totalCol":true,"groupCols":true}}
![76a](https://user-images.githubusercontent.com/14914918/28338034-939191ec-6bd5-11e7-9d7f-a7f968a0b3ac.JPG)

{"defaults":{"totalCol":true,"groupCols":false}}
![76b](https://user-images.githubusercontent.com/14914918/28338053-a955910e-6bd5-11e7-8fac-483789033e60.JPG)

{"defaults":{"totalCol":false,"groupCols":true}}
![76c](https://user-images.g

[2017-07-18 20:26] #76 closed

[2017-07-18 20:29] brittsikora commented on #58
Pass

{"groups":["Placebo"]}
![58a](https://user-images.githubusercontent.com/14914918/28338158-0ac18b78-6bd6-11e7-9a06-3cf1dee03abb.JPG)

{"groups":[{"key":"Placebo"}]}
![image](https://user-images.githubusercontent.com/14914918/28338180-1c6e852e-6bd6-11e7-8b54-3c66f7fedb03.png)

{"groups":[{"key":"Placebo"},"Treatment A"]}
![58c](https://user-images.githubusercontent.com/14914918/28338196-2dce4a

[2017-07-18 20:29] #58 closed

[2017-07-19 19:57] brittsikora opened #87 "Darken highlighting"
Highlight on search could be brighter
![353_2851](https://user-images.githubusercontent.com/14914918/28386844-e360b34a-6c9a-11e7-80e7-5a64f10d6033.png)

[2017-07-19 20:47] brittsikora opened #88 "Move download link"
We might want to move the CSV download link to the top of the page, like where the Query Overview link is so users know where to look for it

[2017-07-24 18:37] brittsikora commented on #64
Expected Outcome: Preferred terms and their subcategories will be sorted by descending frequency, then alphabetically

Result: Pass
![64](https://user-images.githubusercontent.com/14914918/28538821-9ac406be-707d-11e7-9f45-87bfa39712d4.JPG)

[2017-07-24 18:37] #64 closed

[2017-08-28 14:54] samussiah opened #90 "Offset prevalence and difference marks plotting the same value."

[2017-08-28 14:58] jwildfire commented on #90
Simplest approach is probably just to offset everything by a pixel or 2 horizontally. Something like: `.attr("dy",function(d,i){return i*-1})` maybe reduce the opacity a bit as well.

[2017-09-27 14:52] mhickle opened #91 "Images for new ReadMe"
![gif3](https://user-images.githubusercontent.com/31038805/30923072-ee757b02-a378-11e7-91a5-dd2bb31f402c.gif)

[2017-10-24 00:37] #91 closed

[2017-10-24 00:42] jwildfire opened #94 "Participant filters only include categories for participants with AEs"
[This line of code](https://github.com/RhoInc/aeexplorer/blob/master/src/chart/controls/filters/custom/init.js#L12) doesn't match the configuration spec since "Participant" should be "participant". This means that the categories for participant filters only include options from participants with AEs. The result is a fairly major bug where records are silently dropped for filter levels that are not

[2017-10-24 00:47] #94 closed

[2017-10-24 00:52] jwildfire opened #96 "Update Error message for sparse data"
Currently, the error message below is thrown if there are no AEs that match the current filters -
 even if there *are* participants that match the filters. It might be better to throw a different error message in the case where there are participants (but none of them have AEs).

OR maybe we should draw a table with 0% throughout ...

<img width="552" alt="screen shot 2017-10-23 at 5 50 17 pm" src

[2017-11-06 17:53] jwildfire opened #97 "Text for prevalence filter not visible with bootstrap loaded"
<img width="1032" alt="screen shot 2017-11-06 at 9 11 46 am" src="https://user-images.githubusercontent.com/3680095/32455822-4bc09980-c2d8-11e7-9abe-349db7b9efd2.png">

[2017-11-06 17:54] jwildfire commented on #97
minor css tweak needed size goes from `75%` to `small`

[2017-11-06 17:59] #97 closed

[2017-11-06 18:30] jwildfire opened #99 "Prevalence filter not working as expected ..."
Last row shouldn't be visible. See project 273.
<img width="805" alt="screen shot 2017-11-06 at 8 31 34 am" src="https://user-images.githubusercontent.com/3680095/32457276-67ed82b2-c2dd-11e7-8ae8-5e2a2a7bfa89.png">

[2017-11-21 21:18] brittsikora commented on #77
I'd like to discuss feasibility and priority on this request

[2017-12-07 18:09] emmorris commented on #77
Sorting and searching makes the most sense - will include with next major release using Webcharts

[2017-12-07 18:10] emmorris commented on #34
Add to next major release

[2017-12-07 18:12] emmorris opened #100 "Sync up AE Table with AE Explorer"
Keep the verbiage tight #bademily

[2017-12-07 18:13] emmorris commented on #100
Rename the root function

[2017-12-07 22:02] brittsikora opened #101 "Support chart.destroy()"

[2017-12-07 22:02] brittsikora opened #102 "Add Reset Button"

[2018-01-11 15:49] jwildfire commented on #99
Pretty sure the problem occurs when `group` is set, but `groupCols` is marked false. Filtering is still occurring based on the maximum rate in the group columns (even though those columns are hidden).

[2018-01-11 16:11] jwildfire commented on #99
Test Notes:
- In previous versions, setting the prevelance filter to 10, would display rows with values less than 10 when groupCols was false.
- Confirm that the prevalence filter works as expected with the following settings:

`{"variables":{"id":"USUBJID","major":"AEBODSYS","minor":"AEDECOD","group":"ARM"},"defaults":{"groupCols":false}}`

[2018-01-17 16:33] dschwentker commented on #99
Tested and passed in all browsers.

[2018-01-17 16:33] #99 closed

[2018-01-19 18:56] brittsikora opened #104 "Update settings merge process"
Use the Results over Time as a prototype to update the settings merge process

[2018-02-12 15:08] emmorris opened #105 "Allow custom labels for details objects"
We tried to use the following settings in RhoMAP, but got [object Object] when we tried to view the details in the data listing view.  Our documentation says that we can customize the details objects, so we should update the code to allow that kind of setting.

{
variables: {
details:
[
{
'value_col': 'AESER',
'label': 'Serious Snape'
},
{
'value_col': 'AESEV',
'label': 'Severus Snape'
}
],
filter

[2018-02-16 15:18] samussiah opened #106 "Event denominator counts participants without events."
@bzkrouse discovered this updating [safetyExploreR](https://github.com/RhoInc/safetyexploreR)

[2018-02-16 15:26] samussiah commented on #106
closing, bad placeholder argument in CAT

[2018-02-16 15:26] #106 closed

[2018-02-16 17:44] bzkrouse opened #107 "Remove highlighting of difference column when summarizeBy = "event""
Rate calculations allow subjects to contribute multiple observations to a given system organ class and/or preferred term.  Therefore, the current statistical testing is not valid and highlighting should be removed.  Hope to move to more robust stat calculations in the future here.

[2018-03-08 17:45] jwildfire opened #108 "remove height:100% from controls CSS"
random height css is making layout in `viz-library` horrendous. https://github.com/RhoInc/aeexplorer/blob/12126fe29b49c56b13e770c07d19aa518a8dcf09/css/aeTable.css#L60-L84

# Test Notes
Ensure that the aeexplorer looks good in viz-library.

[2018-04-02 14:23] samussiah opened #112 "Add test page."

[2018-04-02 14:23] samussiah opened #113 "Turn on GitHub Pages."

[2018-04-03 16:58] #113 closed

[2018-04-03 20:57] samussiah opened #115 "Update README.md and Wiki Home page to link to the test page."

[2018-04-03 20:59] samussiah opened #116 "Update Wiki Configuration page with markdown file generated by settings schema."

[2018-05-02 13:53] emmorris commented on #115
Technical task.  No testing needed.

[2018-05-02 13:53] #115 closed

[2018-05-04 20:03] #116 closed

[2018-05-04 20:03] #112 closed

[2018-05-04 20:03] #108 closed

[2018-05-04 20:03] #105 closed

[2018-05-08 01:31] emmorris commented on #116
Technical documentation task.  No testing needed.

[2018-05-08 01:32] emmorris commented on #113
Technical task.  No testing needed.

[2018-05-08 01:40] emmorris opened #118 "Styling differences with Bootstrap turned on in CAT"
With Bootstrap on:

- Font style is slightly different
- Search box is in the far right corner instead of closer to the middle
- Category names are blue instead of black
- When you search the number of matches is in a green box with white text instead of just plain black text
- There is slightly less vertical spacing between boxes in the header section
- When you search on a term and clear the sea

[2018-08-16 16:51] emmorris opened #120 "Allow users to interactively select subgrouping by age, gender, and site"
Jack requested that we update the AE Explorer to include a way to interactively select subgrouping by age, gender, and site.

Spencer said this shouldn't be too difficult since there is already a method that prepares the data given the grouping variable.  We will just need to ignore the groups argument that controls which groups are displayed.  Perhaps we could have a more complex groups argument

[2018-08-20 08:41] matthiazzz commented on #77
Is there any timeline available when this switch to Webcharts will be done?

[2018-08-20 18:29] jwildfire commented on #77
@matthiazzz There's currently no timeline for doing a full refactor using webcharts and releasing v4.0.

However, if you are just looking for enhanced table functionality with search/sort/pagination, it would be pretty easy to just switch the detail table over to a webcharts table object in the minor release which is scheduled for the next month or so. Just let us know if that would be helpful and

[2018-08-21 15:21] jwildfire commented on #34
Honestly, @me from 18 months ago - this is not a big deal. Going to close as won't fix.

[2018-08-21 15:21] #34 closed

[2018-08-21 15:25] jwildfire commented on #60
Probably just going to want to hold off on this until v4.0

[2018-08-21 15:27] jwildfire commented on #59
Possible duplicate of #60

[2018-08-21 17:51] jwildfire commented on #75
Not sure what expected behavior is here. I guess we could:
1) interactively suppress the columns for Arms when they are filtered
2) not allow filters for group variables
3) something else i'm not thinking of ...

@pburnsdata @samussiah @emmorris @rtbailey - Thoughts?

[2018-08-21 17:56] jwildfire commented on #101
Going to be a lot easier to manage this once we move the core functionality over to webcharts

[2018-08-21 18:02] pburnsdata commented on #75
I don't mind option 1. So the column for an arm would only display when that arm is in the filter and the difference column would only appear when at least two are selected?

[2018-08-21 18:10] jwildfire commented on #96
Test Notes: Confirm that error message now says "No AEs" are found instead of "No Data" is found

[2018-08-21 18:18] jwildfire opened #121 "Update the Prevalence filter input to have type = number"

[2018-08-22 20:13] jwildfire commented on #120
Leaning towards supporting arrays (as well as simple strings) in `config.variables.group` and `config.groups`, when an array with more than one value is provided, a control for group will render (using the first value in the array as the default).

Would be nice to write this to be general enough to support similar functionality for `config.variables.major`, `config.variables.minor` and `group.var

[2018-08-22 20:14] jwildfire commented on #120
Need to think about whether there should be a "none" option in the group control.

[2018-08-25 16:33] jwildfire commented on #120
Decided *not* to support arrays in `config.variables.group`, since it would've required tweaking a lot of files. Mostly just changing `config.variables.group` to config.variables.group[0]`, but still a bit messy.

Instead, I added `config.variableOptions` which looks like this by default:
[code]

Add a group control to an instance of the tool with a config like this:
[code]

Note that this is fine

[2018-08-25 16:55] jwildfire commented on #59
I actually think this behavior makes sense. I think that a user specifying `null` should mean: "use the defaults" - the same as if the user not specified anything at all. On the other hand,  I think it's reasonable for an empty array to mean: "Ignore the default; I don't want any filters".

#60 is a slightly different discussion, so going to close this as "won't fix" and then think about how to ad

[2018-08-25 16:55] #59 closed

[2018-08-25 17:03] jwildfire commented on #59
@bzkrouse Going to close this as "won't fix", but let me know if the note above makes sense, and remind me how it effects the R package. I'm guessing there is still an update needed here, just not sure it's in the `filters` setting in particular.

Perhaps the real technical inconsistency with other renderers is using `[]` instead of `null` as the default value like for `config.variables.details`?

[2018-08-26 01:30] jwildfire commented on #46
Changing defaults for the following settings from `[]` to `null` and updating `setDefaults.js` accordingly:

- config.variables.details
- config.filters[].start
- config.variableOptions
- config.groups

[2018-08-26 01:44] jwildfire commented on #46
# Test Notes

Technical change - No UI differences, so no feature testing needed. Existing regression tests are sufficient.

[2018-08-26 01:52] jwildfire commented on #120
## Test Notes

Test using all major browsers in CAT to confirm that new controls appear as expected and allow the user to change the settings as expected. In particular:
- Confirm that adding 2+ values to each component (`id`, `major`, `minor` and `groups`) of the `variableOptions` array described above adds a new control.
- Confirm that multiple filters are created if more than one variableOption

[2018-08-26 01:54] jwildfire commented on #77
Implemented in v3.3 via the new`config.defaults.webchartsDetailsTable` option. Just set the option to `true` and make sure to include `webcharts.js` and `webcharts.css`.

[2018-08-26 01:57] jwildfire commented on #77
## Test Notes

Test in CAT with the following settings: `{ defaults:{webchartsDetailTable:true}}` Confirm that the detail table view (accessed by clicking the label of any row in the summary table), is rendered using a webcharts table, and that sort, search, pagination and export work as expected.

[2018-08-26 02:00] jwildfire commented on #62
# Test Notes

Confirm in CAT that margins are drawn for the dot plot when `plotSettings.margin` is specified. Just tweak the following settings object, and confirm that the margin changes as expected: `{plotSettings: {margin: {left: 40, right: 40}}}`

[2018-08-26 02:02] jwildfire commented on #49
## Test Notes

Confirm that the graphics updates after each keystroke in the search and filter by prevalence inputs (instead of after focus leaves the input altogether)

[2018-08-26 02:06] jwildfire commented on #121
## Test notes

Confirm that you can no longer type characters in the prevalence input, and that the up and down buttons work as expected.

[2018-08-26 02:08] jwildfire commented on #87
## Test Notes

Confirm that the highlights are now a nice bold, regal orange.

[2018-08-26 02:30] jwildfire commented on #104
The legacy approach is fine here, I think. Can revisit if/when we move to a pure webcharts framework.

[2018-08-26 02:30] #104 closed

[2018-08-27 20:31] samussiah opened #126 "Revert test page to use absolute URLs and conditional local URLs."

[2018-08-27 20:40] jwildfire commented on #126
@samussiah Can you remind me why we can't just use the relative URLs regardless? Is there a problem using them on rawgit?

[2018-09-05 18:22] emmorris opened #127 "Change color scheme so yellow is not included"
Currently when you group by RACE in the new version the colors change and one of the groups shows up as yellow.  That is really difficult to see on the white background of the table, so we should change it to a different color scheme that is easier to read.

[2018-09-05 18:26] emmorris commented on #127
Hardcoded list of colors here:  https://github.com/RhoInc/aeexplorer/blob/master/src/chart/colorScale.js

Update those to these: http://colorbrewer2.org/#type=qualitative&scheme=Paired&n=10

[2018-09-05 18:45] danedexF5 commented on #120
@jwildfire @emmorris
- Confirm that adding 2+ values to each component: Pass. new controls added across top of the page, each with the 2 options that I had added.
- Confirm that multiple filters are created if more than one variableOptions array is provided, and that they both work as expected: Confirmed
- Confirm that the new variableOption controls work before and after filtering, searching, and

[2018-09-05 20:09] jwildfire commented on #127
Paired isn't really appropriate here (since the data isn't paired). We're already using a [colorbrewer palette](http://colorbrewer2.org/#type=qualitative&scheme=Set3&n=9) here, so just going to delete the yellow and replace it with the next available color (which is gray).

[2018-09-05 20:12] jwildfire commented on #127
Actually, we use gray for total ... so just deleting yellow.

[2018-09-06 13:53] danedexF5 commented on #77
Webcharts Table display appears when using detail view. Confirmed.

[2018-09-06 15:42] danedexF5 commented on #49
@jwildfire I think this is working as expected. Reason I say "think" is that Filter by Prevalence grays out once I start typing in search. If that is the desired outcome, then pass.

[2018-09-06 15:55] danedexF5 commented on #121
@jwildfire I'm able to type both letters and numbers in that field. Letters just display a red box and don't change the results. Numbers do change the results.

[2018-09-06 16:16] danedexF5 commented on #96
Confirmed, now says No AEs

[2018-09-06 16:49] jwildfire commented on #121
I think that is fine, @danedexF5. Guessing that different browsers are handling the input slightly differently.

[2018-09-06 16:51] jwildfire commented on #49
@danedexF5 Yeah, that is the correct behavior. As long as both of the inputs are updating as described independently, we're good.

[2018-09-06 20:57] danedexF5 commented on #127
Yellow is gone, confirmed.

[2018-09-14 18:22] samussiah opened #130 "Widen prevalence input."
The incremental arrows are occluding the text in Firefox,

[2018-09-14 18:33] samussiah commented on #121
Captured in #130 , fixed in the latest commit to v3.3.0-dev: 858c2cc672eb9a2c704627e1d03e959ccc4027e2

[2018-09-14 18:40] emmorris commented on #121
Confirmed that the wider field allows the full two digit number to display now,  Letters are still not accepted, so the original functionality remained intact.

[2018-09-14 18:40] emmorris commented on #130
Confirmed that the wider field allows the full two digit number to display now, Letters are still not accepted, so the original functionality remained intact.

[2018-09-14 19:18] #126 closed

[2018-09-15 14:59] jwildfire commented on #130
Thanks for the quick fix, all.

[2018-09-24 15:46] #87 closed

[2018-09-24 15:46] #96 closed

[2018-09-24 15:46] #49 closed

[2018-09-24 15:46] #62 closed

[2018-09-24 15:46] #77 closed

[2018-09-24 15:46] #120 closed

[2018-09-24 15:47] #46 closed

[2018-09-24 15:47] #127 closed

[2018-09-24 15:47] #130 closed

[2018-09-24 16:54] #121 closed

[2018-10-03 13:34] jwildfire opened #131 "Remove Gray Group Color"
Since it is used for the total column, it shouldn't be used for a group column.

[2018-10-03 13:36] jwildfire opened #132 "Reinitialize color scale when changing group."
Currently the `colorScale.domain()` is not reset, so new colors are used when the group variable is changed. Instead, the original colors should be re-assigned to the new groups.

[2018-10-03 13:37] jwildfire opened #133 "Prevent charts with too many groups when the group variable changes"
Not sure if we should prevent variables with too many categories from being added to the control, or if we should just show a message that there are too many groups when changing to that control. Or we could possibly just pick the first N levels of the variable and show those groups ...

[2018-10-03 15:00] jwildfire commented on #131
Not an issue once #132 is resolved.

[2018-10-03 15:00] #131 closed

[2018-10-03 16:55] jwildfire commented on #132
## Test Notes

Use [test page](https://rawgit.com/RhoInc/aeexplorer/v3.3.1-dev/test-page/index.html) or CAT to confirm that colors are re-used when changing the group variables. First group column should always be blue, 2nd green, 3rd orange, etc. Total column should always be gray.

[2018-10-03 16:57] jwildfire commented on #133
## Test Notes

Confirm that the chart doesn't draw when the user selects a group variable with more levels than `config.defaults.maxGroups` by changing the group by variable to AGE using the settings below in CAT. Also confirm that you can then change back to another variable and the chart renders as expected.
[code]

[2018-10-10 21:42] jwildfire opened #135 "Add "None" option for Group control"
## Test Notes

Confirm that "None" appears as an option in the group control, and hides group columns (showing only "Total") when selected.

[2018-10-10 22:06] jwildfire opened #136 "Sync the group control when groupCols = false"
## Test Notes

Confirm that the group control defaults to "None" when `groupCols = false` and selects the option corresponding to `config.variables.group` otherwise.

[2018-10-23 14:35] emmorris commented on #131
Testing will be covered in #132

[2018-10-23 15:49] samussiah opened #138 "Group levels setting lost on group variable change."
How should we retain group levels?

[2018-10-23 16:10] jwildfire commented on #138
I kind of just want to deprecate the groups option ...

[2018-10-23 16:42] rchronowic commented on #132
Tested on Test Page in both Firefox and Chrome, colors are re-used when changing group variables, although order is 1. Blue, 2. Green, 3. Purple, 4. Orange and total remains gray.

[2018-10-23 16:46] samussiah commented on #138
I'm cool with that.

[2018-10-23 18:03] jwildfire commented on #138
Going to wait for v4.0 and get rid of (or refactor) the `groups` option.

[2018-10-26 14:21] rchronowic commented on #133
Testing for this issue passed in CAT for both Firefox and Chrome. See below screen shot for Error message.

![image](https://user-images.githubusercontent.com/42471621/47572431-ee8d3f00-d908-11e8-9aa9-40916ae100bb.png)

[2018-10-26 16:55] emmorris commented on #135
Ryan C. confirmed that this passed feature testing.  Noted in the PR :https://github.com/RhoInc/aeexplorer/pull/134

[2018-10-26 19:44] emmorris commented on #136
Confirmed that changing default settings in CAT to the snippet of code below did result in the "Group Variable" drop-down defaulting to "None" and without that it defaulted to "ARM" as expected.   "defaults": {
        "placeholderFlag": {
            "value_col": "AEBODSYS"
        },
        "maxPrevalence": 0,
        "maxGroups": 6,
        "totalCol": true,
        "prefTerms": false,

[2018-10-26 20:36] #132 closed

[2018-10-26 20:37] #133 closed

[2018-10-26 20:37] #136 closed

[2018-10-26 20:37] #135 closed

[2018-10-31 20:00] samussiah opened #139 "Clicking a minor-level row throws an error."
![image](https://user-images.githubusercontent.com/5428548/47815202-09571d80-dd26-11e8-96a5-1ce5863bb2d3.png)

[code]

[2018-11-01 17:19] #139 closed

[2019-04-30 17:14] nandriychuk opened #144 "let aeexplorer accept negative values for ASTDY instead of removing them"

[2019-05-01 17:21] #144 closed

[2019-07-16 06:58] matthiazzz opened #146 "Other graphical risk metrics"
Proposal to be able to choose from ratios (Risk Ratio or the Odds Ratio) as risk metrics rather having the risk difference only for the AE dot plot.

Also, sometime you only want to compare to one single reference treatment (e.g. placebo) if you have multiple treatments. This would improve the readability of the graphical part as well.

[2020-01-15 20:42] samussiah opened #147 "Generalize the nesting to allow for n>2 levels."

[2020-01-22 19:39] samussiah opened #148 "No Total column when group variable has only one level."
Per @nandriychuk, the issue arises when `groupCols = false`, `totalCol = true`, and `variables.group` has only one level.  The total column is not rendered, resulting in a table with only the _Category_ and _AE Rate by group_ columns.

Also, `variables.group` does not appear to be optional.

[2020-03-31 12:56] sibyllwangxxxx opened #149 "[Documentation] meaning of alpha transparency in group difference diamonds"
The transparent/solid contrast between diamonds representing pairwise group difference is based on a fisher approximation of chi-square test. [see here.](https://github.com/RhoInc/aeexplorer/blob/master/src/chart/util/calculateDifference.js) This should be documented in the [Technical Documentation](https://github.com/RhoInc/aeexplorer/wiki/Technical-Documentation). Thanks @bzkrouse for pointing t

[2020-04-14 21:05] nandriychuk opened #150 "Add a setting to choose grouping colors"
Jack asked if the color of the treatment grouping variables could be changed to match the results-overtime treatment variable color legend. We need to add a setting for this so we can customize it for future Safety Explorers.

# [Test notes](https://rhoinc.github.io/CAT/?re=YWVleHBsb3Jlcg==&ve=ZGV2LXYzLjQuMA==&de=Y2xpbmljYWwtdHJpYWxzL2FkYW0vYWRhZS5jc3Y=&se=ewogInZhcmlhYmxlcyI6IHsKICAiZ3JvdXAiOiAiQ

[2020-04-22 14:59] #150 closed

[2020-09-30 18:41] pburnsdata opened #153 "Update No AEs error message"
Currently can't distinguish between the absence of AES and the absence of subjects. Update the error message to two separate messages:
“Error: No AEs found for the X subjects selected by the current filters. Update the filters to see results.”
And
“Error: No subjects found for the current filters. Update the filters to see results.”

[2020-10-21 18:27] pburnsdata opened #155 "No AEs error message"
Add more informative error message when there are no aes yet in the data, @nandriychuk  poitned out this happens on studys so seems worth handling